@font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('../fonts/MonumentExtended-Ultrabold.eot'),
        url('../fonts/MonumentExtended-Ultrabold.woff') format('woff');
        url('../fonts/MonumentExtended-Ultrabold.eot?#iefix') format('embedded-opentype');
        url('../fonts/MonumentExtended-Ultrabold.ttf') format('truetype');
}