@keyframes point {
    0% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(15%) rotate(10deg);
    }
    65% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(15%) rotate(10deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes click {
    0% {
        transform: translateY(0) scale(1);
    }
    40% {
        transform: translateY(-50%) scale(1.05) rotate(10deg);
    }
    45% {
        transform: translateY(-50%) scale(1.15) rotate(10deg);
    }
    55% {
        transform: translateY(-50%) scale(.8) rotate(10deg);
    }
    60% {
        transform: translateY(-50%) scale(1.1) rotate(10deg);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}